.comment-item {
  list-style-type: none;
}
.comments-each-container {
  display: flex;
}

.initial-container {
  height: 30px;
  width: 30px;
  border-radius: 12px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.user-time-container {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
  margin-left: 10px;
}
.initial {
  color: #ffffff;
  font-size: 20px;

  font-family: 'Roboto';

  margin: 0px;
}
.name {
  color: #334155;
  font-size: 15px;

  font-family: 'Roboto';
}
.posted-time {
  color: #94a3b8;
  font-size: 12px;

  font-family: 'Roboto';
  margin-left: 15px;
}
.comment-about {
  color: #64748b;
  font-size: 14px;

  font-family: 'Roboto';
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like-container {
  display: flex;
  align-items: center;
}
.like-img {
  height: 20px;
  width: 20px;
}
.delete-btn {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 12px;
  font-family: 'Roboto';
}
.icon {
  height: 20px;
  width: 20px;
}
.comment-line {
  width: 100%;
  border: 1px solid #dee0e3;
}
.button {
  background-color: transparent;
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}
.active {
  color: #0b69ff;
}
